# Python
__pycache__/
*.py[cod]
*$py.class
instance/
*.db

# Node
node_modules/
/frontend/build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
